.busqueda {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 7rem;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-top: 1em;
}

.title {
    display: flex;
    height: 2em;
    font-size: 1.5em;
    font-weight: bold;
}

.body {
    display: flex;
    height: 2.5rem;
}

.inputtext {
    width: 60%;
}

#button {
    width: 5%;
}

.chckbx-desc {
    margin-top: 0.5em;
}

.chckbx-span {
    margin-left: 0.5em;
}