.header {
    display: flex;
    justify-content: space-between;
    background-color: #006064;
    color: white;
}

#toolbar {
    display: flex;
    background-color: #006064;
    border: #006064;
}

#btn {
    margin: 0.2em;
}

.title-header {
    font-weight: bold;
    margin-left: 15%;
}