.cardLogin {
  width: 30%;
  margin-bottom: 53px;
}

.centrado {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
}

.margin-top {
  margin-top: 1.5rem;
}

.p-fluid {
  padding: 0 35px 0 35px;
}
